{% extends "layout.html" %}
{% block title %}Início{% endblock %}
{% block content %}
<h1 class="mb-4">Receitas Disponíveis</h1>

<div class="row">
    {% for receita in receitas %}
        <div class="col-md-4 mb-4">
            <div class="card p-3 h-100">
                <h5 class="card-title">{{ receita.titulo }}</h5>
                <p class="card-text text-muted">Chef: {{ receita.chef.nome }}</p>
                <a href="{{ url_for('detalhes_chef', chef_id=receita.chef.id) }}" class="btn btn-sm btn-outline-dark">
                    Ver Chef
                </a>
            </div>
        </div>
    {% else %}
        <p>Nenhuma receita cadastrada ainda.</p>
    {% endfor %}
</div>
{% endblock %}
