{% extends "layout.html" %}
{% block title %}Registrar Usuário{% endblock %}
{% block content %}
<div class="card p-4 col-md-4 mx-auto">
    <h2 class="mb-3 text-center">Registrar</h2>
    <form method="post">
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="usuario" required>
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Registrar</button>
    </form>
    <div class="text-center mt-3">
        <small>Já tem conta? <a href="{{ url_for('login') }}">Entrar</a></small>
    </div>
</div>
{% endblock %}
